<ngx-ui-loader></ngx-ui-loader>

<div [@routerTransition] class="marginTop">
    <p><strong>Dashboard</strong></p>
    <hr />
    <div>
        <div class="row dasbordTextColor">
            <div class="col col-sm-4">
                <strong> {{totalCategoriesCount}} </strong>
            </div>
            <div class="col col-sm-4">
                <strong> {{productsCount}} </strong>
            </div>
            <div class="col col-sm-4">
                <strong> {{flowsCount}} </strong>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-4">
                Categories
            </div>
            <div class="col col-sm-4">
                Products
            </div>
            <div class="col col-sm-4">
                Flows
            </div>
        </div>
    </div>
</div>